/**********************************/
/*  Stylesheet for Halloween web  */
/*  Done by David Solera Romero   */
/*                                */
/*   DAM Student on Alan Turing   */
/*                                */
/*      Date: 07 - 11 - 2023      */
/*                                */
/**********************************/

@font-face {
    font-family: texto;
    src: url(../fonts/halloween3.ttf);
}

@font-face {
    font-family: texto2;
    src: url(../fonts/halloween1.otf);
}

* {
    box-sizing: border-box;}
body {
    margin:0;
    background-color: rgb(11, 11, 11);
    font-family: texto;
    font-size: 1.8em;}
#escenario {
    background-image: url(../img/hero4.jpg);
    height: 739px;
    width: 1360px;
    margin: auto;
    position: relative;}

/* Pumpking area */
#pumpkin {
    width: 350px;
    height: 212px;
    position: absolute;
    left: 68.2%;
    top: 53.8%;}
#bats {
    position: absolute;
    left: 65.75%;
    height: 600px;
    width: 325px;
    top: 0.95%;
    /*display: none; Alternativa v*/
    visibility: hidden;}

/* Ghost area */
#ghost {
    width: 115px;
    height: 145px;
    /*border: 2px solid white;*/
    position: absolute;
    top: 46%;
    left: 27.5%;}
#ghosts {
    position: absolute;
    top: 50%;
    left: 38.5%;
    visibility: hidden;}

/* Chuch area */
#church {
    width: 180px;
    height: 225px;
    position: absolute;
    top: 15.4%;
    left: 27.5%;}
#church2 {
    width: 61px;
    height: 40px;
    position: absolute;
    top: 45.75%;
    left: 35.95%;}
#monster {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;}

/* Crows area */
#crow {
    width: 180px;
    height: 90px;
    position: absolute;
    left: 49.85%;}

/* Inferior grass area */
#cricket {
    width: 100%;
    height: 122.5px;
    position: absolute;
    top: 84%; }

/* Blue street lamp area and burning candles next to the pumpkin */
#lamp {
    width: 50px;
    height: 90px;
    position: absolute;
    left: 42.25%;
    top: 24%; }
#candles {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 53.25%;
    top: 55%; }

/* Gates at the end of the image */
#gate {
    position: absolute;
    width: 75px;
    height: 90.5px;
    left: 50.525%;
    top: 40%; }
#girl {
    visibility: hidden;
    position: relative;
    left: 40%;
    top: 56%;
    height: 300px; }
#guy {
    visibility: hidden;
    position: relative;
    left: 15%;
    top: 18%;
    width: 90px; }

/* Faces in the tress */
#faces1 {
    position: absolute;
    width: 70px;
    height: 65px;
    left: 6.5%;
    top: 37%;}
#faces2 {
    position: absolute;
    width: 77px;
    height: 78px;
    top: 8.8%;
    left: 67.25%;}
#faces3 {
    position: absolute;
    width: 80px;
    height: 75px;
    top: 29%;
    left: 74.5%;}
#bats2{
    position: relative;
    right: 32.5%;
    visibility: hidden;
    width: 185px;
    height: 325px;}
#bats3{
    position: relative;
    left: 15%;
    bottom: 25%;
    height: 230px;
    width: 180px;
    visibility: hidden;}
#bats4{
    position: relative;
    left: 8%;
    bottom: 5%;
    height: 310px;
    width: 200px;
    visibility: hidden;}
    
/* Black background */
@keyframes siniestro {
    0% {color: #e0aa0a;}
    50% {color: #da560f;}
    to {color: #e0aa0a;}
}
#behind {
    position: absolute;
    padding-right: 36.5%;
    padding-top: 5%;
    padding-bottom: 10.5%;
    top: 0%;
    padding-left: 32.5%;
    text-align: center;
    color: #e0aa0a;
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    width: 1360px;
    height: 739px;
    visibility: visible;
    animation-name: siniestro;
    animation-duration: 3.25s;
    animation-iteration-count: 10;}
#behind #h1-2 {
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 17.5px;
    color: #e0aa0a;
    animation-name: siniestro;
    animation-duration: 3.25s;
    animation-iteration-count: 10;}
#behind button{
    padding: 20px 25px;
    padding-bottom: 25px;
    font-family: texto2;
    font-size: 1.25em;
    background-color: #5c3000;
    border-color: #f55829;
    color: #fccc97;
    border-radius: 25px;
    margin-top: 2.5%;}
#behind button:hover {
    background-color: #221101;
    border-color: #8a4c06;
    color: #eb420f;
    transition-duration: 1.75s;
}
/* Texts */
#text1 {
    position: absolute;
    color: #a5310d;
    top: 79.75%;
    left: 68.4%;
    font-size: 1.1em;
    margin-bottom: 100px; }
#text1:hover {
    color:rgb(255, 21, 0);
    transition-duration: 2.45s;
    font-size: 1.25em;
    top: 78.5%;
    left: 67.7%;}
#text2 {
    position: absolute;
    color: #b44220;
    left: 20%;
    top: 63%;
}
#text2:hover {
    color:rgb(255, 21, 0);
    transition-duration: 2.25s;
    font-size: 1.18em;
    top: 60.25%;
    left: 20.25%;}
#text3 {
    position: absolute;
    color: #ba3209;
    left: 50%;
    top: 33.33%;
    font-size:0.9em;
}
#text3:hover {
    color:rgb(255, 21, 0);
    font-size: 1.25em;
    left: 49%;
    top: 31%;
    transition-duration: 1.95s;}
#text4 {
    position: absolute;
    color: #752006;
    top: 4%;
    left: 29%;
}
#text4:hover {
    color:rgb(255, 22, 1);
    font-size: 1.2em;
    top: 3%;
    left: 28%;
    transition-duration: 1.95s;
}
#atmosphere {
    position: absolute;
    top: 92.5%;
    right: 1.25px;}

/* Texts and buttons animations */

