/*********************************************/
/*  Hoja de estilo de lentejas.html          */
/*  Autor: David Solera Romero               */
/*  Versión: 1.0                             */
/*  Fecha: Octubre / 2023                    */
/*  Comentario: Ejercicio para Portfolio (I) */
/*********************************************/

/* Enlace a archivos externos */

@font-face {
    font-family: textonormal;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: titulos;
    src: url(../fonts/Lusiana.OTF.otf);
}

/* Layout general */

* {box-sizing: border-box;} /* Indica que el width de cada caja será contando el borde */

body {background-image: url("../images/fondolegumbres.avif");
    margin: 0;
    font-size: 1.3rem;
    color: rgb(19, 39, 0);}
#wrapper {
    width: 74%;
    padding: 2.25%;
    margin: auto;
    background-color: rgb(131, 214, 117);
    font-family: textonormal;
}
h1,h2 {
    font-family: titulos;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 30%;
    margin: auto;
    
    background-color: rgb(158, 241, 106);
}
h1 {
    font-size: 2.05em;
    padding-top: 10px;
}
h2 {
    font-size: 1.15em;
    margin-top: 3.5%;
    margin-bottom: 5%;
    padding: 5px 0px;
}
#primerh2 {
    margin-top: 1.5%;
}
blockquote {
    width: 70%;
    border-right: 4px solid black;
    border-left: 4px solid black;
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: 15%;
    font-style: italic;
    background-color: rgb(93, 223, 81);
    text-align: center;
    text-shadow: 4px 4px 17px black;
}
ul {
    list-style-image: url("../images/bulletlist.png");
}
ul li {
    padding-bottom: 5px;
}
ol li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(0,0,0,0.4);    
}
li {
    margin-left: 10%;
    margin-right: 9%;
}
dl dt {
    font-weight: bold;
    margin-left: 10%;
}
dl dd {
    margin-left: 12.5%;
    padding: 15px 0px;
}

/* Sección a sección en detalle */