/*********************************************/
/*  Hoja de estilo de lentejas.html          */
/*  Autor: David Solera Romero               */
/*  Versión: 1.0                             */
/*  Fecha: Octubre / 2023                    */
/*  Comentario: Ejercicio para Portfolio (I) */
/*********************************************/

/* Enlace a archivos externos */

@font-face {
    font-family: textonormal;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: titulos;
    src: url(../fonts/Lusiana.OTF.otf);
}

/* Layout general */

* {box-sizing: border-box;} /* Indica que el width de cada caja será contando el borde */

body {background-image: url("../images/fondolegumbres.avif");
    margin: 0;
    font-size: 1.3rem;
    color: rgb(19, 39, 0);}
#wrapper {
    width: 74%;
    padding: 2.25%;
    margin: auto;
    background-color: rgb(131, 214, 117);
    font-family: textonormal;
}

/* Estilado general */
h1,h2 {
    font-family: titulos;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 30%;
    margin: auto;
    background-color: rgb(158, 241, 106);
}
h1 {
    font-size: 2.05em;
    padding-top: 10px;
}
h2 {
    font-size: 1.15em;
    margin-top: 3.5%;
    margin-bottom: 5%;
    padding: 5px 0px;
}
#primerh2 {
    margin-top: 1.5%;
}

/* Cita */
blockquote {
    width: 70%;
    border-right: 4px solid black;
    border-left: 4px solid black;
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: 15%;
    font-style: italic;
    background-color: rgb(93, 223, 81);
    text-align: center;
    text-shadow: 4px 4px 17px black;
    padding-left: 11px;
    padding-right: 11px;
}

/* Sección de ingredientes */
#ingredientes {
    display:flex;
    justify-content: center;
}

#ingredientes .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}
#ingredientes .contenedor-img {
    background-image: url("../images/lentejas.png");
    margin-top: 30px;
    margin-left: 20%;
    background-size: cover;
    background-position: center center;
    height: 425px;
    width: 455px;
}

ul {
    list-style-image: url("../images/bulletlist.png");
}
ul li {
    padding-bottom: 5px;
}

/* Sección de preparación */
ol li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(0,0,0,0.4);    
}
li {
    margin-left: 10%;
    margin-right: 9%;
}

/* Información nutricional */
dl dt {
    font-weight: bold;
    margin-left: 10%;
}
dl dd {
    margin-left: 12.5%;
    padding: 15px 0px;
}

/* Media Queries para responsividad */
@media only screen and (width<= 1050px){
    #wrapper {width:95%;}
    h1,h2 {
        width: 37.5%;
    }
    li {
        margin-left: 4%;
    }
    
    }
@media only screen and (width<= 1250px){ 
    #ingredientes .contenedor-img {
        display: none;
    }
    #ingredientes {
        justify-content: left;
        margin-left: 4%;
    }
}
@media only screen and (width<= 1675px){  
    #ingredientes .contenedor-img {
        margin-top: 11.5%;
        height: 275px;
        width: 275px;
        margin-left: 10%;
    }
    #ingredientes .texto { 
        margin-left: 0%;
    }
}